{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block css %} 
	{% load static %}
	<link rel="stylesheet" href="{% static 'style2.css' %}"> 
{% endblock %}
{% block body %} 
	<center>
		
		
	</center>
	<center>
		<h2> Devloper Team </h2>
	</center>
	<center>
		<table width="100%">
			<tr>
				<td>
					<center>
						<div class="team" id=a>
							Roll No : CE28 <br><br>
							Name : Preet R. Gandhi <br><br>
							Phone no : +91 9624408153 <br><br>
							Email : preetgandhi99@gmail.com	
						</div>
					</center>
				</td>
				<td>
					<center>
						<div class="team" id=a>
							Roll No : CE29 <br><br>
							Name : Ketan S. Ganvit <br><br>
							Phone no:+91 9537534781 <br><br>
							Email : ketanGanvit112@gmail.com
						</div>
					</center>
				</td>
				<td>
					<center>
						<div class="team" id=a>
							Roll No : CE30 <br><br>
							Name : Ishan A. Ghelani <br><br>
							Phone no : +91 8866543318 <br><br>
							Email : ishanghelani007@gmail.com
						</div>
					</center>
				</td>
			</tr>	
		</table>
	</center>		
{% endblock %}